<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycompany.myapp.user.UserMapper">

    <!-- 로그인 -->
	<select id="loginCheck" resultType="User" parameterType="hashmap">
		select * from hh_user where id=#{id} and password=#{password}
	</select>
	
	<select id="findUser" parameterType="User" resultType="User">
   		select * from hh_user where id=#{id} 
    </select>
    
    <select id="myOrigin_num" parameterType="string" resultType="int">
        select origin_num from hh_user where id = #{id}
    </select>
    
    <!-- 회원가입 -->
	<insert id="createUser" parameterType="User">
	    insert into hh_user(ID, PASSWORD, NAME, ADDRESS, ADDRESS_DT, TEL, EMAIL, AGREE1, AGREE2, USER_DT, EMAIL_IDT, POSTCODE, JDATE)
	    values(#{id},#{password},#{name},#{address},#{address_dt},#{tel},#{email},#{agree1},#{agree2},#{user_dt},0,#{postcode}, now())
	</insert>
	
	<!-- 유효성 검사 -->
	<select id="idCheck" parameterType="string" resultType="int">
   		select origin_num from hh_user where id = #{id}
    </select>
   
    <select id="emailCheck" parameterType="string" resultType="int">
   		select origin_num from hh_user where email = #{email} and user_dt NOT IN('4')
    </select>
   
    <select id="telCheck" parameterType="string" resultType="int">
   		select origin_num from hh_user where tel = #{tel} and user_dt NOT IN('4')
   </select>
   
   <!-- 이메일 인증 후 상태값 변경  -->
   	<update id="email_idtAlter" parameterType="String">
	    update hh_user set email_idt = 1
		where id=#{id}
	</update>
	
	<!-- 이메일 인증 안된 회원 로그인 불가 -->
	<select id="checkEmail_idt" resultType="String" parameterType="String">
    	select email_idt from hh_user where id = #{id}
    </select>

	<!-- 회원 상태 조회 -->
	<select id="checkUser_dt" resultType="String" parameterType="String">
    	select user_dt from hh_user where id=#{id}
   </select>
   
   <!-- 아이디 찾기 -->
    <select id="searchId" resultType="String">
		select id from hh_user
        where name = #{name} and email = #{email} and user_dt NOT IN('4')
	</select>
	
	<!-- 회원 임시 비밀번호 발급-->
	<update id="searchPwd" parameterType="hashmap">
		update hh_user set password = #{param3} where id = #{param1} and email = #{param2} and user_dt NOT IN('4')
	</update>
	
	<!-- 마이페이지 -->
	<select id="selectMy" resultType="User" parameterType="int">
		select * from hh_user where origin_num = #{origin_num}
	</select>
	
	<update id="leaveMember" parameterType="int">
		update hh_user set user_dt = 4 where origin_num = #{origin_num}
	</update>
	
	<update id="updateUser" parameterType="User">
		update hh_user set
		name = #{name}
		, tel = #{tel}
		, postcode = #{postcode}
		, address = #{address}
		, address_dt = #{address_dt}
		<if test="password != null and password != ''">
			,password = #{password}
		</if>
		where origin_num = #{origin_num}
	</update>
  
</mapper>